{% extends "base.html" %}

{% block content %}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <h1 class="page-header">{{ context.album.title }}
        <small>{{ context.album.location }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="../">Home</a>
        </li>
        <li><a href="./">Photography</a></li>
        <li class="active">{{ context.album.title }}</li>
    </ol>
</div>

<!-- Portfolio Section -->
{% if context.photos is not none %}
    {% for photo in context.photos %}
        <div class="row">
            <a href="{{photo.url}}=s0">
                <img class="img-responsive" src="{{photo.url}}=s2048" alt="">
            </a>
        </div>
        <hr>
    {% endfor %}
{% else %}
    No album
{% endif %}



{% endblock %}
