{% extends "base.html" %}

{% block content %}

TEST 1


<!-- Portfolio Section -->
<div class="row">
    <h2 class="page-header flexible-header">Photography</h2>

        <div class="col-centered">

        {% if context.albums is not none %}
            {% for album in context.albums %}
            <div class="image-container">
                <a href="photography/{{album.path}}">
                    <img class="img-responsive img-hover" src="{{album.cover}}" alt="">
                </a>
                <div class="text-center small-gray">{{album.title}}</div>
            </div>

            {% endfor %}
        {% else %}
            No album
        {% endif %}

        </div>
</div>

<div class="row" id="projects">
    <h2 class="page-header">Projects</h2>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Ars Beta</h4>
            </div>
            <div class="panel-body" style="height:145px;">
                <p>Photography rating and sharing service.  I wrote the entire backend, API, and the web frontend.  Currently in open beta.</p>
                <a href="https://arsbeta.com/" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Mosh Network Simulator</h4>
            </div>
            <div class="panel-body" style="height:145px;">
                <p>Validate the response-time measurements of the <a href="https://mosh.org/">MOSH</a> terminal developed by Keith Winstein at MIT.</p>
                <a href="https://github.com/kjtmckenzie/mosh_test" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Homepage</h4>
            </div>
            <div class="panel-body" style="height:145px;">
                <p>This website was built as an experiment on GCP.  It runs on App Engine (python3), Kubernetes, or Cloud Run.  The database is Cloud Firestore.</p>
                <a href="https://github.com/kjtmckenzie/kjtmckenzie-home" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


<!-- /.row -->

<!-- Features Section -->
<div class="row" id="about">
    <h2 class="page-header">About Me</h2>

    <div class="col-md-6">
        <img class="img-responsive" src="https://storage.googleapis.com/kjtmckenzie-home-static/me.jpg" alt="">
    </div>
    <div class="col-md-6">
        <p>I am a Google Cloud Customer Engineer at Google.  I received a
            Masters in Computer Science from Stanford University in 2016.  I have a passion for photography and all things outdoors.  </p>
        <p><a href="https://storage.googleapis.com/kjtmckenzie-home-static/kmckenzie_resume.pdf">Resume</a></p>
        <p><a href="https://www.linkedin.com/in/kpmckenzie">LinkedIn</a></p>
        <p><a href="https://www.credential.net/6pe357iu">GCP Certification - Professional Cloud Architect</a></p>
        <p><a href="https://www.credential.net/sgh1gpue">GCP Certification - Professional Data Engineer</a></p>
        <p><a href="https://www.credential.net/jjdvhq9n">GCP Certification - Professional Cloud Developer</a></p>
        <p><a href="https://www.credential.net/1w9zz76w">GCP Certification - Professional Network Engineer</a></p>
    </div>
</div>
<!-- /.row -->

<hr>


{% endblock %}
