{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1 class="page-header">Photography</h1>
    <ol class="breadcrumb">
        <li><a href="../">Home</a></li>
        <li class="active">Photography</li>
    </ol>
</div>


<!-- Portfolio Section -->
<div class="row">
    <h2 class="page-header">Photography</h2>

    {% if context.albums is not none %}
        {% for album in context.albums %}
            <div class="image-container">
                <a href="./{{album.path}}">
                    <img class="img-responsive img-hover" src="{{album.cover}}" alt="">
                </a>
                <div class="text-center small-gray">{{album.title}}</div>
            </div>
        {% endfor %}
    {% else %}
        No album
    {% endif %}
</div>



{% endblock %}
